{% extends 'compressor/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Image & File Compressor</h1>
        <p class="lead">Our tool allows you to upload and compress images and files to your desired size and quality. Easily manage your image and file compression needs with our user-friendly interface. Whether you need to reduce file size for faster upload times or save storage space, we've got you covered. Start compressing your images and files today with just a few clicks!</p>
        <a href="{% url 'compress_image' %}" class="btn gradient-btn ">Get Started</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Image Compressor</h5>
                    <p class="card-text">Upload your image, set the desired size in kilobytes, and adjust the quality. Our tool will compress the image accordingly and provide a download link for the compressed file.</p>
                    <a href="{% url 'compress_image' %}" class="btn btn-primary">Compress Image</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">File Compressor</h5>
                    <p class="card-text">Upload any file, set the desired size in kilobytes, and our tool will compress the file to your specifications. The compressed file will be available for download once the process is complete.</p>
                    <a href="{% url 'compress_file' %}" class="btn btn-primary">Compress File</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
